@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-zoom {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom a {
  background-color: #0266fd80 !important;
  color: white !important;
  border: none !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.2s ease-in-out !important;
}

.leaflet-control-zoom a:hover {
  background-color: #d81d1d !important;
  transform: scale(1.03);
}

.leaflet-control-zoom-in {
  margin-bottom: 5px !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #444;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.12s ease-out;
}
